@import "../../styles/variables";
@import "../../styles/mixins" ;
@import "../../styles/colors" ;


.information{
    background-color: $tertiaryBackground;
    @include flex(center, center, column);
    color: #fff;
    height: 50vh;    
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 4rem 1rem;
    overflow: hidden;
    img{
      width: 45%;
      width: 14.75rem;
      height: 26.25rem;
    }
    p{
      color: black;
    }
    @include mobile {
      padding: 1.5rem;
      @include flex(center, center, column);

    }
  
    @include tablet {
      padding: 2.5rem;
    }
  
    @include desktop {
      padding: 3rem; 
    }
    &-gallery{
      @include flex(center, center, row);

    }
  }