@use "./mixins" as *;
// $primaryTextColor: 
$primaryBackground: hsl(60, 25%, 85%);
$secondaryBackground:  hsl(0°, 0%, 97%);   

// $primaryNackgroundCard:
$accentedBackgroundCard: 	hsl(60, 25%, 85%);
$accentedBackgroundCard: 	#b6caab;  

// $secondaryTextColor:
// $secondaryBackground: 

$outerAccentColor: #cfc2a5; 
$innerAccentColor: #b6caab; 
$innerAccentColorDarker: #6c9256; 

// https://www.w3schools.com/colors/colors_picker.asp