@import "../../styles/variables";
@import "../../styles/mixins" ;
@import "../../styles/colors" ;


.hero {
    background-color: $secondaryBackground;
    color: #fff;
    height: 50vh;    
    text-align: center;
    background-image: linear-gradient(rgba($secondaryBackground, 0.5), rgba($secondaryBackground, 0.5)), url("https://media.istockphoto.com/id/1346350013/photo/egyptian-queen-with-traditional-make-up-and-gold.jpg?s=2048x2048&w=is&k=20&c=9SlWSzFo_ddmUhlED2srpOzdcQ-1UbgrDL64mWoOPxU=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 4rem 1rem;
    @include mobile {
      padding: 1.5rem;

    }
  
    @include tablet {
      padding: 2.5rem;
    }
  
    @include desktop {
      padding: 3rem;
   
    }
  }