$color1: #80222b;

$color3: #de4f43;
$primaryBackground: #e6e6e6;
$secondaryBackground: #3d3737;
$tertiaryBackground: white;
$color5: #ff8267;

$first-color:  #deecfc; 

$second-color: #b9ceeb;

	
$third-color: #87a8d0;

$fourth-color: #c3b4d2;

$fifth-color: #d4a5a5;


	
$sixth-color: #e6d3c1; 


.third-color { 
	background: #f9ffea; 
}

.fourth-color { 
	background: #a6d0e4; 
}