$color1: #80222b;

$backgroundcolor3: #f0ddc5; // Egypt Orange
$primaryBackground: #e6e6e6; // grey
$secondaryBackground: rgba(239, 205, 205, 0.7); // Adjust the alpha value as needed (0.5 for 50% transparency)
$tertiaryBackground: white;
$color5: #ff8267;

$first-color:  #deecfc; 

$second-color: #b9ceeb;

	
$third-color: #87a8d0;

$fourth-color: #c3b4d2;

$fifth-color: #d4a5a5;

$primary-color: #242222;
$fifth-color: #d4a5a5;
