$color1: #80222b;

$color3: #de4f43;
$primaryBackground: #e6e6e6;
$secondaryBackground: rgba(61, 55, 55, 0.7); // Adjust the alpha value as needed (0.5 for 50% transparency)
$tertiaryBackground: white;
$color5: #ff8267;

$first-color:  #deecfc; 

$second-color: #b9ceeb;

	
$third-color: #87a8d0;

$fourth-color: #c3b4d2;

$fifth-color: #d4a5a5;


	
$sixth-color: #e6d3c1; 


.third-color { 
	background: #f9ffea; 
}

.fourth-color { 
	background: #a6d0e4; 
}

// $color1: #80222b;
// $color3: #de4f43;
// $primaryBackground: rgba(230, 230, 230, 1); // Adjust the alpha value as needed
// $secondaryBackground: rgba(61, 55, 55, 1); // Adjust the alpha value as needed
// $tertiaryBackground: rgba(255, 255, 255, 1); // Adjust the alpha value as needed
// $color5: #ff8267;
// $first-color: #deecfc;
// $second-color: #b9ceeb;
// $third-color: rgba(135, 168, 208, 1); // Adjust the alpha value as needed
// $fourth-color: rgba(195, 180, 210, 1); // Adjust the alpha value as needed
// $fifth-color: rgba(212, 165, 165, 1); // Adjust the alpha value as needed
// $sixth-color: rgba(230, 211, 193, 1); // Adjust the alpha value as needed

// .third-color {
//   background: rgba(249, 255, 234, 1); // Adjust the alpha value as needed
// }

// .fourth-color {
//   background: rgba(166, 208, 228, 1); // Adjust the alpha value as needed
// }
