@import "../../styles/variables";
@import "../../styles/mixins" ;
@import "../../styles/colors" ;

.header {
  background-color: rgb(202, 166, 148);
  color: #242222;
  text-align: center;
  border-radius: 15px;
  height: auto;

  &--top {
    &__menu-icon {
      padding: 1rem;
      cursor: pointer;
      font-weight: 600;
    }
    @include flex(center, flex-start, row);
  }

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 2rem;
  }

  &-logo {
    width: 70px;
    height: 70px;
  }

  &-title {
    padding: 0 1rem;
    h1 {
      margin: 0;
    }
    h2 {
      margin-top: 0;
    }
  }

  &-nav {
    position: absolute;
    top: 110px;
    left: 40%;
 
    // width: 100%;
    // transform: translateY(-100%);
    transition: transform 0.3s ease;

    &.nav-open {
      transform: translateY(0%);
    }
  }
}