@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/colors";

.header {
  background-color: $forthBackground;
  // position: relative;
  // height: auto;
  overflow: hidden;
  padding-bottom: 0;

  &--top {
    padding: 1rem;
    @include flex(space-between, center, row);

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
    }
    h1 {
      @include tablet {
        font-size: 1.3rem;
        text-align: center;
      }
      @include mobile {
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
    .header-menu{
      display:flex;
      align-items: center;
      // width: 5rem;
      height: auto;
      
    }
    img {
      width: 4.5rem;
      height: auto;
    }

    @include tablet {
      padding: 1.5rem;
      text-align: left;
    }

    @include desktop {
      padding: 2rem;
    }
  }

  @include tablet {
    &--top {
      padding: 1.5rem;
    }
  }

  @include desktop {
    &--top {
      padding: 2rem;
    }
  }

  &-logo {
    width: 200px;
    height: auto;

  }

  &-title {
    @include flex(center, center, row);
    padding: 0 1rem;
    z-index: 1;      
    width: 50%;


  }
 
  // Mobile Menu
  &.mobile-menu-open {
    .header--top {
      .header-menu {
        .nav {
          display: block;
        }
      }
    }
  }

  @include mobile {
    .header--top {
      .header-menu {
        .nav {
          display: none;
        }

        .menu-icon {
          display: block;
          width: 40px;
          height: 40px;
          color: white;
          border: none;
          padding: 0.5rem;
          cursor: pointer;
          font-size: 1rem;
        }
      }
    }
  }
  @include tablet {
    .header--top {
      .header-menu {
        .nav {
          display: none;
        }

        .menu-icon {
          display: block;
          width: 40px;
          height: 40px;
          color: white;
          border: none;
          padding: 0.5rem;
          cursor: pointer;
          font-size: 1rem;
        }
      }
    }
  }
  @include desktop {
    .header--top {
      .header-menu {
        .menu-icon {
          display: none;
        }
      }
    }
  }
}
