@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/colors";

.vote {
  background-color: $primaryBackground;

  @include flex(stretch, center, column);
  overflow: hidden;
  border-radius: 8px;
  margin-top: 1rem;
  &-top {
    @include flex(center, stretch, row);
    margin-top: 1rem;
    margin-bottom: 1rem;

    &-right {
      @include flex(center, center, column);
      // background-color: $secondaryBackground;
      // height: 100%;
      margin-left: 1rem;
      flex: 1;
      width: 40%;
    }
  }
  &-bottom {
    margin: 1rem;
  }
}
