@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/colors";

.vote {
  background-color: $primaryBackground;
  @include flex(center, center, column);
  overflow: hidden;
  border-radius: 8px;
  margin-top: 1rem;

  &-top {
    @include flex(center, space-between, column);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;

    // Adjust spacing for better responsiveness
    & > * {
      margin-bottom: 1rem;
      
    }
    &-left {
      width: 70%;
      margin-right: 1rem;
    }
    &-right {
      width: 30%;
    }
  }

  &-bottom {
    width: 80%;
  }
  
  @media (min-width: 768px) {
    // For larger screens, arrange components side by side
    &-top {
      @include flex(center, stretch, row);
      & > * {
        margin-bottom: 0;
      }
    }
  }
}
