@import "./styles/mixins";
@import "./styles/mixins" ;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // background-image: url("https://media.istockphoto.com/id/168531310/photo/two-rows-of-egyptian-hieroglyphics.jpg?s=2048x2048&w=is&k=20&c=UrlaCTjiWYs9yCIj8TRRF4HWOtcIpxJmCocfxxhEffk=");
  background-size: cover;
  background-attachment: fixed; 
  position: sticky;
  z-index: -1;
}
