.user-profile {
  display: flex;
  justify-content: space-between;
  &__data{
    width: 45%;
  }
    .user-headshot {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .user-description {
      padding: 10px 0;
    }
   
  }
  