@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.user-profile {
  @include flex(flex-start, center, column);
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: $secondaryBackground;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px; // Adjust the margin as needed
}

.user-profile__title {
  font-size: 26px;
  color: #2c3e50;
  margin-bottom: 15px;
  font-weight: 500;
}

.video-container {
  width: 100%;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.video-frame {
  width: 100%;
  height: auto; // Adjust the height for proper ratio
  margin-bottom: -5px;
  border: none;
  border-radius: 4px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.user-info {
  @include flex(center, space-between, row);
  width: 100%;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  padding: 1rem;
}

.user-details {
  flex: 1;
  padding-left: 1rem;
}

.user-headshot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-description {
  width: 100%;
  color: $fifth-color;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
