.user-profile {
    .user-headshot {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .user-description {
      padding: 10px 0;
    }
    .user-videos {
      display: flex;
      flex-wrap: wrap;
    }
  }
  