@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/colors";

.nav {
  @include flex(center, center, row);
  margin: 0;
  padding: 0;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  transition: max-height 0.3s ease;
  &-logout{
    cursor: pointer;
  }
ul{
  margin: 0;
  padding: 0;
  @include desktop{
    @include flex( center, center, row)
  }
  @include tablet{
    @include flex( center, center, row)
  }
  @include mobile{
    @include flex( center, center, column)
  }
li {
    padding: 10px;
    text-align: center;
    list-style: none;

    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      display: block;
    }
  }
}
}