@import "../../styles/variables";
@import "../../styles/mixins" ;
@import "../../styles/colors" ;

.button-wrap{
@include flex(center, center, column);
padding: 1rem;
border-radius: 10px;
background-color: $secondaryBackground;
color: aliceblue;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


height: 100%;

&__button-container{
@include flex(space-between, center, row);
flex-wrap: wrap;
margin: 1rem;
}

}