@import "../../styles/variables";
@import "../../styles/mixins" ;
@import "../../styles/colors" ;

.button-wrap{
@include flex(center, center, column);
padding: 1rem;
border-radius: 10px;
background-color: #f0cfcf;


&__button-container{
@include flex(space-between, center, row);
flex-wrap: wrap;
margin: 1rem;
}

}